{% if section.settings.enable_cards %}
  
<section class="mt-12 mb-2">
  <div class="mx-auto container">
    {% for block in section.blocks %}
      {% if block.type == 'cards_title' %}
        <h2 class="text-2xl font-black text-center mb-2">{{ block.settings.cards_heading }}</h2>
      {% endif %}
      
    {% endfor %}
    
    <div class="flex gap-12 justify-center">

    {% for block in section.blocks %}
      {% if block.type == 'card' %}
        <div class="basic-1/3">
        <a href="{{ block.settings.card_link }}">
          <img src="{{ block.settings.card_image |  image_url: width: 500  }}" alt="">
          <h3 class="text-xl font-bold">{{ block.settings.card_heading }}</h3>
          <p>{{ block.settings.card_desc }}</p>
        </a>
        </div>
        
      {% endif %}
    
    {% endfor %}

    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Card template",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_cards",
        "label": "Enable Cards",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "cards_title",
        "name": "Cards Heading",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "cards_heading",
            "label": "Cards Heading"
          }
        ],
        "limit": 1
      },
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "card_heading",
            "label": "Card Haeding"
          }, {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          }, {
            "type": "richtext",
            "id": "card_desc",
            "label": "Card Description"
          }, {
            "type": "text",
            "id": "card_link",
            "label": "Card Link"
          }
        ],
        "limit": 3
      }
    ]
  }
{% endschema %}