{% comment %} {{ product.metafields.custom.feature }} {% endcomment %}
{% comment %} <img src="{{ product.metafields.custom['slider1_image3'] | image_url: width: 1280 }}" alt="">
{% endcomment %}



<section>
  <div class="mx-auto container flex my-8 items-center flex-col gap-4 lg:flex-row lg:gap-0">
    <div class="px-2 product--media basis-12/12 lg:basis-5/12 xl:basis-6/12 2xl:basis-5/12">
      {% render 'product-media' %}
    </div>
    <div class="px-2 product--infomation basis-12/12 lg:basis-7/12 xl:basis-6/12 2xl:basis-7/12">
      <h1 class="text-lg font-black md:text-2xl xl:text-3xl">
        {{ product.title }}
      </h1>
      <p class="mt-4 text-sm xl:text-base">
        {{ product.description }}
      </p>
      <button class="my-2 mt-4 bg-red-500 px-12 py-2 text-white rounded-xl text-xl">Add to Cart</button>
    </div>
  </div>
</section>


{% comment %} {% assign slider_num = 1 %} {% endcomment %}
{% render 'slider', slider_num: 1 %}

<section class="mt-12 mb-2">
  <div class="mx-auto container">
    <h2 class="text-2xl font-black text-center mb-2">Create Incredible Scans with the Plustek Multiple Format Film
      Scanner</h2>
    <iframe class="video w-full aspect-video"
      src="https://www.youtube.com/embed/ZoKdG9GaEFY?si=ByXnJl37AEHJDAJg" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>


{% comment %} {% assign slider_num = 2 %} {% endcomment %}
{% render 'slider', slider_num: 2 %}


{% render 'card' %}

{% render 'single-image', single_image: 1 %}

{% render 'slider-tabs' %}

<section class="mt-0 mb-2 text-center">
  <div class="mx-auto container">
    <button class="my-8 bg-red-500 px-32 py-2 text-white rounded-xl text-3xl font-black">Add to Cart</button>
  </div>
</section>

<section class="mt-0 mb-12 bg-neutral-200 py-12">
    <div class="mx-auto container">
        <div class="Q-items container max-w-5xl mx-auto">
            {% for faq in section.blocks %}
                <article class="Q-item mb-6 bg-white rounded-lg">
                <div class="Q-title flex items-center gap-3 align-center p-4 border-b ">
                    <div class="Q-icon bg-black text-white text-center font-black py-1 min-w-16">Q</div>
                    <h3 class="font-black flex">{{ faq.settings.question }}</h3>
                    <span class="ml-auto mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
                <div class="Q-answer flex items-center gap-3  p-4">
                    <div class="A-icon bg-orange-400 text-white text-center font-black py-1 min-w-16">A</div>
                    <p>{{ faq.settings.answer }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mt-0 mb-12  py-4 px-12">
  <div class="mx-auto container">
    <h2 class="text-3xl font-black mb-2">Outstanding resolution to output extraordinary image</h2>
    <p class="text-lg font-black mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, soluta
      deleniti incidunt exercitationem aut molestias perferendis? Deserunt vero est tenetur quos ullam tempore eaque
      dolorem laudantium. Labore nemo doloremque assumenda.</p>
    <ul>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
      <li class="mt-6">
        <h3 class="text-xl font-black">Flagship Scanner Software Included – SilverFast Ai Studio</h3>
        <p>16-bit Histogram is a graphic representation of statistical visuals that distributes the brightness value
          of
          a digital image and makes it as smooth as the original file without gaps as an 8-bit file.</p>
      </li>
    </ul>
  </div>
</section>
<section class="mt-0 mb-12 py-16 px-24 bg-my-orange">
  <div class="mx-auto container">
    <div class="flex gap-12">
      <a class="w-3/12 flex flex-col items-center border-2 border-slate-50 rounded-2xl gap-6 pt-12 pb-24 px-8 transition hover:translate-y-[-1rem] "
        href="https://plustek.com/us/support/faq.php">
        <img class="max-w-28" src="{{ 'faq.png' | asset_url }}" alt="Example Image">
        <h3 class="text-xl text-white">FAQ</h3>
        <h4 class="text-base text-white">Knowledge Base</h4>
      </a>
      <a class="w-3/12 flex flex-col items-center border-2 border-slate-50 rounded-2xl gap-6 pt-12 pb-24 px-8 transition hover:translate-y-[-1rem] "
        href="https://plustek.com/us/support/faq.php">
        <img class="max-w-28" src="{{ 'tutorial.png' | asset_url }}" alt="Example Image">
        <h3 class="text-xl text-white">Tutorials</h3>
        <h4 class="text-base text-white text-center">Watch Easy-to-Follow Videos on YouTube</h4>
      </a>
      <a class="w-3/12 flex flex-col items-center border-2 border-slate-50 rounded-2xl gap-6 pt-12 pb-24  px-8 transition hover:translate-y-[-1rem]"
        href="https://plustek.com/us/support/faq.php">
        <img class="max-w-28" src="{{ 'contact-us.png' | asset_url }}" alt="Example Image">
        <h3 class="text-xl text-white">Contact Us</h3>
        <ul>
          <li class="text-base text-white text-center">1-800-713-9009</li>
          <li class="text-base text-white text-center">support@raven.com</li>
        </ul>
        <h4 class="text-base text-white"> </h4>

      </a>
      <a class="w-3/12 flex flex-col items-center border-2 border-slate-50 rounded-2xl gap-6 pt-12 pb-24  px-8 transition hover:translate-y-[-1rem]"
        href="https://plustek.com/us/support/faq.php">
        <img class="max-w-28" src="{{ 'download.png' | asset_url }}" alt="Example Image">
        <h3 class="text-xl text-white">Download</h3>
        <ul>
          <li class="text-base text-white text-center">User Manuale</li>
          <li class="text-base text-white text-center">Quick Start Guide</li>
          <li class="text-base text-white text-center">Windows TWAIN Driver</li>
          <li class="text-base text-white text-center">Mac TWAIN Driver</li>
        </ul>
      </a>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper1', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },


  });

  const swiper1 = new Swiper("#swiper-content1", {
    navigation: {
      nextEl: ".swiper-arrow-next",
      prevEl: ".swiper-arrow-prev"
    },
    thumbs: {
      swiper: {
        el: "#swiper-tabs1",
        spaceBetween: 10,
        slidesPerView: 5,
        watchSlidesVisibility: !0
      },
      slideThumbActiveClass: "thumb-active"
    }
  })
</script>

{% schema %}
  {
  "name": "FAQ block",
  "blocks": [
      {
          "type": "FAQ_item",
          "name": "FAQ",
          "settings": [
              {
                  "type": "text",
                  "id": "question",
                  "label": "Question"
              },
              {
                  "type": "richtext",
                  "id": "answer",
                  "label": "Answer"
              }
          ]
      }
  ]
  }
  {% endschema %}